<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.via.shinvia.member.mapper.MemberMapper">
    <insert id="insertMember"
            parameterType="Member"
            useGeneratedKeys="true"
            keyProperty="userId"
            keyColumn="user_id">
            INSERT INTO user (
                login_email,
                password_hash,
                user_name,
                phone_number,
                birth_date,
                user_status,
                created_at,
                updated_at
            )
            VALUES (
                #{loginEmail},
                #{passwordHash},
                #{userName},
                #{phoneNumber},
                #{birthDate},
                #{userStatus},
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP
            )
    </insert>

    <select id="existsByLoginEmail" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM user
            WHERE login_email = #{loginEmail}
        )
    </select>

    <select id="findByLoginEmail">
        SELECT
            user_id,
            login_email,
            password_hash,
            user_name,
            phone_number,
            birth_date,
            user_status,
            created_at,
            updated_at
        FROM user
        WHERE login_email=#{loginEmail}
        LIMIT 1
    </select>
</mapper>